# tmux
config/tmux/plugins
!config/tmux/plugins/tpm

# misc
.lastd
.netrwhist
.zcompdump
default.target.wants
packer_compiled.*
tags

# some bin/appimage
*/bin/app/*
*/bin/chardetect
*/bin/dwl
*/bin/futurize
*/bin/jsonschema
*/bin/lswt
*/bin/nvim
*/bin/nvr
*/bin/pasteurize
*/bin/pwiz.py
*/bin/pygmentize
*/bin/river
*/bin/river-tag-overlay
*/bin/rivercarro
*/bin/riverctl
*/bin/rivertile
*/bin/stacktile
*/bin/zig*
