# zinit
config/zsh/plugins/zinit/completions
config/zsh/plugins/zinit/plugins
config/zsh/plugins/zinit/polaris
config/zsh/plugins/zinit/service
config/zsh/plugins/zinit/snippets

# tmux
config/tmux/plugins
!config/tmux/plugins/tpm

.zcompdump

packer_compiled.vim
.netrwhist
