window {
  border: 2px solid #a89bee;
  background-color: #23222b;
  font-family: Inter;
  font-size: 18px;
}

#input {
  margin: 0 25px 0 10px;
  /* padding: 5px 0 5px 0; */
  border: none;
  color: #eae9ee;
  background-color: #474557;
}

#inner-box {
  /* margin: 0 10px 0 0px; */
  border: none;
  background-color: #23222b;
}

#outer-box {
  /* margin: 5px; */
  border: none;
  background-color: #23222b;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  color: #eae9ee;
}

#text:selected {
  background-color: #be8fde;
  color: #23222b;
}

#entry:selected {
  background-color: #be8fde;
  color: #23222b;
}

#entry:unselected {
  color: #eae9ee;
}

