/* [ General ] */
* {
  border: none;
  font-family: "Overpass", "Overpass Nerd Font";
  font-size: 16px;
  margin: 1px 0 1px 0; 
}

window#waybar {
  background-color: #23222b;
  color: #eae9ee;
}

/* [ Sway workspaces / River tags ] */
#workspaces,
#tags {
  background-color: #23222b;
  margin-right: 10px;
  padding: 0 10px 0 10px;
  border-radius: 8px;
}

#workspaces button,
#tags button {
  background-color: transparent;
  padding: 0 5px 0 5px;
  color: #eae9ee;
}

#workspaces button:hover,
#tags button:hover {
  box-shadow: inherit;
  color: #e8ec77;
}

#workspaces button.focused,
#tags button.focused {
  color: #57bbf4;
}

#workspaces button.urgent,
#tags button.urgent {
  color: #f63d81;
}

/* [ Dwl tags ] */
#custom-dwltags {
  background-color: #23222b;
  color: #eae9ee;
  margin-right: 10px;
  padding: 0 10px 0 10px;
}

/* [ Sway window ] */
#window {
  background-color: #23222b;
  color: #eae9ee;
  padding: 0 15px 0 15px;
  margin: 0px;
  border-radius: 8px;
}

/* [ Widgets ] */
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#battery,
#custom-pacman,
#tray {
  background-color: #23222b;
  padding: 5px 0 5px 10px;
}

#cpu,
#memory,
#temperature,
#custom-pacman,
#network {
  color: #eae9ee;
}


#pulseaudio {
  color: #eae9ee;
  padding: 0 0 0 20px;
}

#pulseaudio.muted {
  color: #f63d81;
  padding: 0 0 0 20px;
}

#battery {
  color: #eae9ee;
  margin-right: 10px;
  padding: 0 0 0 10px;
}

#battery.charging {
  color: #be8fde;
}

@keyframes blink {
  to {
    background-color: #eae9ee;
    color: #23222b;
  }
}

#battery.critical:not(.charging) {
  background-color: #f63d81;
  color: #232227;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

#clock {
  background-color: #57bbf4;
  color: #232227;
  padding: 0 15px 0 15px;
}
