[Desktop Entry]
Name=alot
Categories=Office;Email;ConsoleOnly;
GenericName=Email client
Comment=Terminal MUA using notmuch mail
Exec=footclient alot
Type=Application
